@font-face {
    font-family: GTWalsheimPro;
    src: url("../Fonts/GTWalsheimPro-Regular.woff");
}
 
* {
    font-family: GTWalsheimPro;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000 !important;
    overflow-x: hidden !important;
}

html{
    scroll-behavior: smooth;
}