@font-face {
    font-family: GTWalsheimProCondensedBold;
    src: url("../Fonts/GTWalsheimPro-Bold.woff");
}

@font-face {
    font-family: GTWalsheimProLight;
    src: url("../Fonts/GTWalsheimPro-Light.woff");
}

#projectsDiv {
    padding: 100px 0 75px;
}

.slider {
    width: 100%;
    border-radius: 10px;
}

.slides {
    background: transparent;
    border-radius: 10px;
}

.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 500px;
    outline: 0 !important;
    color: #ccc;
    font-size: 40px;
    border-radius: 10px;
}

.slide img{
    object-fit: cover;
    border-radius: 7px;
    width: 100%;
    height: 500px;
}

.controls {
    display: flex;
    width: 100%;
    align-items: center;
}

.captions {
    flex: 1;
    width: 100px;
    padding: 5px 10px;
    margin-top: 2px;
}

.caption {
    outline: 0 !important;
}

.caption h1{
    font-size: 25px;
    color: white;
    font-family: GTWalsheimProCondensedBold;
}

.caption p{
    color: #5f99ff;
    font-family: GTWalsheimProLight;
    margin-top: -5px;
}

.pagination {
    display: flex;
    margin-top: 2px;
}

.pagination__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    width: 40px;
    height: 40px;
    margin-left: 2px;
    transition: .25s;
}

.pagination__button:hover {
    color: lightgray;
}

.pagination__button.slick-disabled {
    cursor: not-allowed;
    color: rgb(88, 88, 88);
}


@media screen and (max-width: 800px){
    .slide{
        height: 300px;
        border-radius: 15px;
    }

    .slide img{
        height: 300px;
        border-radius: 4px;
    }
}